@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

#main {
  padding-top: 50px;
}

#down {
  background: transparent;
  border-bottom: 2px solid #272727;
  padding: 10px 20px;
  border-radius: 5px 0 0 0;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  text-decoration: none;
}

#down:hover {
  -webkit-box-shadow: 9px 9px 9px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 9px 9px -7px rgba(0,0,0,0.75);
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.75);
  transform: skewY(3deg) skewX(3deg);
  color: #000000;
}

button {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  background: #00aeff;
  border: 0;
  padding: 10px 20px;
  -webkit-box-shadow: -9px -9px 9px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: -9px -9px 9px -7px rgba(0,0,0,0.75);
  box-shadow: -9px -9px 9px -7px rgba(0,0,0,0.75);
  border-radius: 5px 0 0 0;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
}

button:hover {
  background: var(--orange);
  -webkit-box-shadow: 9px 9px 9px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 9px 9px -7px rgba(0,0,0,0.75);
  box-shadow: 9px 9px 9px -7px rgba(0,0,0,0.75);
  transform: skewY(3deg) skewX(3deg);
  color: #000000;
  border-radius: 0 0 5px 0;
}

button:focus {
  outline: transparent;
  outline-color: transparent;
  outline-style: none;
  outline-width: 0em;
}


/* Wrapper */
.wrapper {
  /* display: grid; */
  /* grid-gap: 20px; */
}

.top {
  /* height: 100vh; */
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    "hero hero cta1"
    "hero hero cta2"
}

.hero {
  grid-area: hero;
  min-height: 380px;
  background: white url(../images/hero.png);
  background-size: cover;
  background-position: top left;
  justify-content: center;
  align-items: start;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
}

.hero >* {
  background: var(--yellow);
}
.hero h3 {
  align-self: flex-start;
  font-size: 16px;
}
.hero h1 {
  align-self: flex-end;
}

#pdf {
  height: 30px;
}
#textme {
  grid-area: 1 / 2 / 3 / 3;
  align-self: center;
  justify-self: right;
}

.cta {
  background: var(--yellow);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 5ch  minmax(10px, 60px);
  align-items: initial;
  justify-items: center;
  justify-content: baseline;
  align-content: center;

  -webkit-box-shadow: 9px -9px 9px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px -9px 9px -7px rgba(0,0,0,0.75);
  box-shadow: 9px -9px 9px -7px rgba(0,0,0,0.75);
  border-radius: 0 5px 0 0;
}

svg {
  vertical-align: middle;
  justify-self: left;
}

.cta p {
  margin: 0;
  justify-self: right;
  align-self: center;
  margin-right: 10px;
}

.cta img {
  max-width: 100%;
  width: 50px;
  height: 50px;
  justify-self: left;
}

.cta1 {
  grid-area: cta1;
  background: var(--orange);
  align-content: inherit;
  display: grid;
}

.cta2 {
  grid-area: cta2;
  align-content: inherit;
}

.price {
  font-size: 30px;
  font-weight: 300;
  border-bottom: 3px solid;
  border-image-source: linear-gradient(to right, #1247f7, var(--orange) );
  border-image-slice: 1;
  grid-column: 1 / -1;
  color: #1247f7;
}
.price2 {
  border-image-source: linear-gradient(to right, #ffb515, var(--yellow));
  color: var(--yel);
}
span {
  color: var(--yel);
}
.back {
  color: #1247f7;
}




/* Features */

.features {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  font-family: 'Nanum Pen Script', cursive;
}

#features {
  margin: 30px;
}

.feature {
  background: white;
  padding: 20px;
  border: 1px solid white;
  text-align: center;
  box-shadow: 0 0  4px rgba(0,0,0,0.1);
}

.feature .icon {
  font-size: 50px;
}

.feature img, svg {
  margin-bottom: 10px;
  max-width: 100px;
}

.feature h3 {
  text-decoration: underline;
  font-size: 26px;
}

.feature p {
  color: rgba(0,0,0,0.5);
  justify-self: end;
  margin-right: 20px;
  font-size: 24px;
}

#about {
  margin: 30px;
}


/* About section */

.about {
  background: white;
  padding: 50px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  margin: 0;
}

.about img {
  width: 100%;
  height: auto;
  max-width: 700px;
}

/* Gallery */

.gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery h2 {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
  margin-top: 30px;
}

.gallery h2:before, .gallery h2:after {
  display: block;
  content: '';
  height: 10px;
  background: linear-gradient(to var(--direction, left), var(--yellow), transparent);
  -webkit-box-shadow: 9px -9px 9px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px -9px 9px -7px rgba(0,0,0,0.75);
  box-shadow: 9px -9px 9px -7px rgba(0,0,0,0.75);
}

.gallery img {
  width: 100%;
  cursor: pointer;
  border-radius: 5%;
}

.gallery h2:after {
  --direction: right;
  -webkit-box-shadow: 9px -9px 9px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px -9px 9px -7px rgba(0,0,0,0.75);
  box-shadow: 9px -9px 9px -7px rgba(0,0,0,0.75);
}

.projects__title {
  text-align: center;
  margin: 30px;
}




/* relevant styles */
.img__wrap {
  position: relative;
}

.img__img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle p {
  background: #ffb515;
}

.img__description {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  background-color: #4CAF50;
  padding: 16px 32px;
  background: #00aeff;
  border: 0;
  padding: 10px 20px;
  -webkit-box-shadow: -9px -9px 9px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: -9px -9px 9px -7px rgba(0,0,0,0.75);
  box-shadow: -9px -9px 9px -7px rgba(0,0,0,0.75);
  border-radius: 0 0 5px 0;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
  /* transition effect. not necessary */
  /* transition: opacity .2s, visibility .2s; */
}

.img__description:hover {
  background: var(--orange);
  -webkit-box-shadow: 9px 9px 9px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 9px 9px -7px rgba(0,0,0,0.75);
  box-shadow: 9px 9px 9px -7px rgba(0,0,0,0.75);
  transform: skewY(-3deg) skewX(3deg);
  color: #000000;
  border-radius: 5px 0 0 0;
}
.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.img__wrap:hover .img__img {
  opacity: 0.3;
}

.img__wrap:hover .middle {
  opacity: 1;
}

@media (min-width: 1000px) {

  [aria-controls="menu-list"] {
    display: none;
  }
}
@media (max-width: 1000px) {
  .menu {
    order: -1;
    perspective: 800px;
    background: transparent;
    border-bottom: 0;
    box-shadow: 0;
  }
  [aria-controls="menu-list"] {
    display: block;
  }
  .menu ul {
    max-height: 0;
    overflow: hidden;
    transform: rotateX(90deg);
    transition: all 0.5s;
  }
  [aria-expanded="true"] ~ ul {
    display: grid;
    max-height: 500px;
    transform: rotateX(0);
    background: linear-gradient(to right, var(--orange),  var(--blue));
  }
  [aria-expanded="false"] .close {
    display: none;
  }
  [aria-expanded="true"] .close {
    display: inline-block;
  }
  [aria-expanded="true"] .open {
    display: none;
  }
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 700px) {
  .top {
    grid-template-areas: 
    "hero hero"
    "cta1 cta2"
  }
  .about {
    grid-template-columns: 1fr;
  }
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 500px) {
  .top {
    grid-template-areas: 
    "hero"
    "cta1" 
    "cta2"
  }
  .gallery {
    grid-template-columns: 1fr;
  }
  #menu-list {
    
    grid-template-columns: 1fr;
  }
  .tool {
    width: 20px !important;
  }
}



/* Contact */

.contact {
  justify-items: center;
  margin-bottom: 50px;
}

.contact img {
  width: 30px;
}
.contact p,a {
  margin: 0;
  padding: 0;
}
.contact a {
  text-decoration: none;
  color: rgb(26, 119, 212);
}
.contact p {
  color: rgb(109, 109, 109);
}

.main-title {
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  margin-top: 50px;
}
.title-title {
  padding-top: 2rem;
}

form {
  display: grid;
  text-align: center;
  justify-items: center;
  justify-content: center;
  background-color:transparent;
  margin: 0 auto;
  font-size: 14px;
  padding: 50px 0;
  border: 3px solid var(--black);
  border-radius: 5px;
}

.input-group {
  display: grid;
  text-align: left;
  width: 310px;
  padding: 1rem;
  text-align: center;
}

.input-group input, textarea {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  text-align: center;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid var(--black);
}

.input-group input:hover, input:focus, textarea:hover, textarea:focus {
  border-bottom: 2px solid var(--yellow);
  display: initial;
  outline: none;
}

::placeholder {
  color: var(--black);
  opacity: .8; /* Firefox */
}

.contact h3 {
  font-size: 22px;
}

label {
  margin-bottom: .5rem;
  color: rgb(109, 109, 109);
}

#create {
  align-items: center;
  justify-items: right;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  background: transparent;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto;
  margin-top: 1rem;
  color: var(--black);
  border-radius: 5px;
  height: 45px;
  width: 310px; 
  font-size: 16px;
  vertical-align: sub;
  fill: var(--black);
}

#create:hover {
  -webkit-box-shadow: -1px 1px 12px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 12px 5px rgba(0,0,0,0.75);
  box-shadow: -1px 1px 12px 5px rgba(0,0,0,0.75);
  transform: scale(0.9);
/*   color: #1a6fb0;
  fill: #1a6fb0; */
  border-radius: 5px;
}

.send {
  width: 35px;
}
.send:hover {
  width: 35px;
}

.email {
  justify-self: left;
}

.form-footer {
  margin: 3rem 1rem 1rem 1rem;
  font-size: .8rem;
  font-style: italic;
}
.bot {
  margin-top: 3rem;
  font-size: .6rem;
}


/* FOOTER */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: stretch;
  justify-items: center;
  margin-top: 50px;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
}

footer svg {
  cursor: pointer;
  width: 70px;
  justify-self: center;
  transition: ease-in-out .7s all;
}

.in {
  justify-self: right;
}

footer svg:hover {
  fill: var(--orange); 
  transform: scale(.9);
}

.ma {
  justify-self: left;
}

h2 {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
  margin-top: 30px;
  fill: var(--black);
  font-size: 16px;
}

h2:before, h2:after {
  display: block;
  content: '';
  height: 10px;
  background: linear-gradient(to right var(--direction, left), var(--yellow), transparent); 
  -webkit-box-shadow: 9px -9px 9px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px -9px 9px -7px rgba(0,0,0,0.75);
  box-shadow: 9px -9px 9px -7px rgba(0,0,0,0.75);
}

h2:after {
  --direction: right;
  -webkit-box-shadow: 9px -9px 9px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px -9px 9px -7px rgba(0,0,0,0.75);
  box-shadow: 9px -9px 9px -7px rgba(0,0,0,0.75);
}

#date {
  text-align: center;
}