@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

/* #main {
  padding-top: 50px;
} */

button {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  background: #00aeff;
  border: 0;
  padding: 10px 20px;
  -webkit-box-shadow: -9px -9px 9px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: -9px -9px 9px -7px rgba(0,0,0,0.75);
  box-shadow: -9px -9px 9px -7px rgba(0,0,0,0.75);
  border-radius: 5px 0 0 0;
  cursor: pointer;
  /* transform: skewY(3deg) skewX(3deg); */
  font-size: 16px;
  max-width: 125px;
/*   writing-mode: vertical-rl;
  text-orientation: upright; */
  transform: rotate(9deg) ;
  transform-origin: 0% 0%;
  transition: all ease-in-out 0.2s;
  
}

button:hover, button:active {
  background: var(--orange);
  -webkit-box-shadow: 9px 9px 9px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 9px 9px -7px rgba(0,0,0,0.75);
  box-shadow: 9px 9px 9px -7px rgba(0,0,0,0.75);
/*   writing-mode: unset;
  text-orientation: unset; */
  transform: rotate(0deg);
  /* transform: skewY(0deg) skewX(0deg); */
  color: #000000;
  border-radius: 0 0 5px 0;
}

button:hover .textme__content {
  transform: rotate(0);
}

button:focus {
  outline: transparent;
  outline-color: transparent;
  outline-style: none;
  outline-width: 0em;
}

h2 {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
  margin-top: 30px;
  fill: var(--black);
  font-size: 16px;
  color: var(--orange);
}

h2:before, h2:after {
  display: block;
  content: '';
  height: 10px;
  background: linear-gradient( var(--direction, left), var(--yellow), transparent); 
  -webkit-box-shadow: 9px -9px 9px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px -9px 9px -7px rgba(0,0,0,0.75);
  box-shadow: 9px -9px 9px -7px rgba(0,0,0,0.75);
}

h2:after {
  --direction: right;
  -webkit-box-shadow: 9px -9px 9px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px -9px 9px -7px rgba(0,0,0,0.75);
  box-shadow: 9px -9px 9px -7px rgba(0,0,0,0.75);
}


@media (min-width: 1000px) {

  [aria-controls="menu-list"] {
    display: none;
  }
  .about {
    height: 500px;
  }
}

@media (max-width: 800px) {
  .about {
    height: 500px;
  }
}

@media (max-width: 1000px) {
  .menu {
    order: -1;
    perspective: 800px;
    background: transparent;
    border-bottom: 0;
    box-shadow: 0;
  }
  [aria-controls="menu-list"] {
    display: block;
  }
  .menu ul {
    max-height: 0;
    overflow: hidden;
    transform: rotateX(90deg);
    transition: all 0.5s;
  }
  [aria-expanded="true"] ~ ul {
    display: grid;
    max-height: 500px;
    transform: rotateX(0);
    background: linear-gradient(to right, var(--orange),  var(--blue));
  }
  [aria-expanded="false"] .close {
    display: none;
  }
  [aria-expanded="true"] .close {
    display: inline-block;
  }
  [aria-expanded="true"] .open {
    display: none;
  }
  body {
    overflow-x: hidden;
  }
  .slides {
    display: block;
  }
}

@media (max-width: 762px) {
  .top {
    grid-template-areas: 
    "hero hero"
    "cta1 cta2"
    !important
  }
  .about {
    grid-template-columns: 1fr;
    height: unset;
  }
  body {
    overflow-x: hidden;
  }
  .cover-wrapper__inner {
    display: grid;
  }
  .cover-wrapper__container {
    align-self: end;
  }
  .music__btn {
    justify-self: center;
  }
}

@media (max-width: 682px) {
  .top {
    justify-content: center;
    grid-template-areas: 
    "hero"
    "cta1" 
    "cta2"
    !important
  }
  .gallery {
    grid-template-columns: 1fr;
  }
  #menu-list {
    grid-template-columns: 1fr;
  }
  .tools__used {
    display: grid;
    grid-template-columns: auto auto;
  }
}
